@model IEnumerable<Conference.Domain.Entities.Sponsors>

@{
    ViewData["Title"] = "Index of sponsors - by Tavy";
}

<link rel="stylesheet" type="text/css" href="~/css/sponsors.css" />
<div>
    <h1>Our sponsors - by Tavy</h1>
</div>

<p></p>

<h2>Our active sponsors</h2>
<div class="sponsorCategory">
    @foreach (var item in Model)
    {
        if (item.Active == true)
        {
            <div class="sponsor">
                <p class="sponsorName"> @item.Name</p>
                <p class="sponsorDescription">@item.Description</p>
            </div>
        }
    }
</div>

<br />
<br />

<h2>Our inactive sponsors</h2>
<div class="sponsorCategory">
    @foreach (var item in Model)
    {
        if (item.Active == false)
        {
            <div class="sponsor">
                <p class="sponsorName"> @item.Name</p>
                <p class="sponsorDescription">@item.Description</p>
                <p class="sponsorEdition">Edition: @item.Edition</p>
                <p>-----------</p>
            </div>
            <br />
        }
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageSlug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facebook)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageSlug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SponsorTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edition)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
